{%extends 'base.html'%} {%block content%}

<div class="sidebar" id="infor">
  <div class="nameofhood">
    <p><span>Neighborhood Name:</span> <br />{{hood.name| upper }}</p>
  </div>

  <div class="emmergency">
    <p><span>Health Contact:</span> <br />{{hood.health_contact}}</p>
    <p><span>Police Contact:</span> <br />{{hood.police_contact}}</p>
  </div>
  <ul class="businesses">
    <p>BUSINESSES</p>
    {%for business in businesses%}

    <li>
      <a class="biz" href="{%url 'show_business' business.biz_name%}">
        {{business.biz_name}}
      </a>
    </li>
    {%endfor%}
  </ul>
</div>
<div class="main-content">
  {%for post in hood_posts%}
  <div class="card">
    <div class="headprof">
      <img
        class="card-img-top profimg"
        src="{{post.user.profile.prof_image.url}}"
        alt=""
      />

      <a
        name=""
        id=""
        class="btn btn-primary profview"
        href="{%url 'show_profile' post.user.username %}"
        role="button"
        >{{post.user}}</a
      >
    </div>

    <img class="card-img-top" src="{{post.image.url}}" alt="" />
    <div class="card-body">
      <h4 class="card-title"></h4>
      <p class="card-text">{{post.description}}</p>
      <p class="card-text">{{post.pub_date}}</p>

      {% comment %}
      <p class="card-text">{{post.user.profile.neighborhood}}</p>
      {% endcomment %}
    </div>
  </div>
  {%endfor%}
</div>
{%endblock%}
