* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.7s;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
    background-color: #ddd;
}

.navbar {
    background-color: purple !important;
    position: sticky !important;
    top: 0 !important;
    height: 60px;
    width: 100%;
    z-index: 999 !important;
}

.navbar .navbar-brand {
    margin-right: 4vw;
}

.navbar form {
    margin-left: 2vw !important;
}

.collapse {
    margin-left: 16vw !important;
}

.nav-link {
    color: white !important;
    font-weight: bold;
    padding-left: 3vw !important;
}

.navbar-brand {
    color: white !important;
    font-weight: bold !important;
}

.logout {
    margin-left: 8vw !important;
    /* background-color: white;
    border: 1px solid purple;
    color: purple !important; */
}

.sidebar {
    width: 300px !important;
    background-color: #a0a0a8 !important;
    height: calc(100vh - 60px) !important;
    position: fixed !important;
    top: 60px;
    left: 0;
}

.sidebar ul {
    padding-top: 2vw;
}

.sidebar li {
    list-style: none;
}

.sidebar p {
    color: purple;
    font-weight: bold;
    /* background-color: rgb(236, 233, 233); */
}

.main-content {
    /* position: relative !important; */
    margin-left: 300px;
    width: calc(100vw - 300px) !important;
    min-height: 100vh !important;
    padding: 12px 16px;
    padding-left: 15vw;
}

.main-content .card {
    width: 45vw;
    margin-bottom: 2vw;
    border-radius: 10px;
}

.main-content .card-img-top {
    width: 100%;
    height: 70vh !important;
    object-fit: cover;
}

.main-content .card .profview {
    background-color: white;
    color: purple;
    border: none;
}

.main-content .profimg {
    width: 4vw !important;
    height: 4vw !important;
    border-radius: 50%;
}


/* REGISTRATION FORM */

.registerfrm {
    width: 35vw;
    margin-top: 3vw;
}

.registerfrm .mb-3 .text-muted {
    display: none;
}

.allbtn {
    width: 100%;
    background-color: purple;
    height: 3vw !important;
}

.registerfrm,
.update {
    width: 40vw !important;
    margin: 0 auto;
    box-shadow: 1px 1px 5px grey;
    height: 85vh;
    margin-top: 4vw;
    border-radius: 10px;
    padding-left: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.post-form input,
.loginfrm input,
.update input,
.update select,
.registerfrm input {
    width: 90%;
}

.post-form label,
.loginfrm label,
.update label,
.registerfrm label {
    color: purple !important;
}

.sign {
    color: purple !important;
}

.registerfrm .ask {
    margin-top: 1.3vw !important;
}

.formtitle {
    color: purple !important;
    font-size: 1.5vw;
}


/* PROFILE PAGE */

.updatebtn {
    width: 10vw !important;
    background-color: purple;
}

.profdetail {
    padding-top: 3vw !important;
    display: flex;
}

.profdetail p span {
    color: purple;
    font-size: bold !important;
}

.profdetail img {
    width: 25vw;
    margin-right: 3vw !important;
}


/* UPDATE FORM */

.update {
    width: 40vw !important;
    margin: 0 auto;
    box-shadow: 1px 1px 5px grey;
    margin-top: 4vw;
    border-radius: 10px;
    padding-left: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    height: 110vh;
}

.biztitle {
    color: purple;
    font-size: 1.4vw;
    font-weight: bold;
}