* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.7s;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
    background-color: #ddd;
}

.navbar {
    background-color: #585861 !important;
    position: sticky !important;
    top: 0 !important;
    height: 60px;
    width: 100%;
    z-index: 999 !important;
}

.navbar .navbar-brand {
    margin-right: 4vw;
}

.collapse {
    margin-left: 16vw !important;
}

.nav-link {
    color: white !important;
    font-weight: bold;
    padding-left: 3vw !important;
}

.navbar-brand {
    color: white !important;
    font-weight: bold !important;
}

.sidebar {
    width: 300px !important;
    background-color: #585861 !important;
    height: calc(100vh - 60px) !important;
    position: fixed !important;
    top: 60px;
    left: 0;
}

.sidebar ul {
    padding-top: 2vw;
}

.sidebar li {
    list-style: none;
}

.main-content {
    /* position: relative !important; */
    margin-left: 300px;
    width: calc(100vw - 300px) !important;
    min-height: 100vh !important;
    padding: 12px 16px;
    padding-left: 15vw;
}

.main-content .card {
    width: 45vw;
}

.main-content .card-img-top {
    width: 100%;
    height: 70vh !important;
    object-fit: cover;
}

.main-content .card .profview {
    background-color: white;
    color: purple;
    border: none;
}

.main-content .profimg {
    width: 4vw !important;
    height: 4vw !important;
    border-radius: 50%;
}