{%extends 'base.html'%} {%block content%}

<div class="sidebar" id="infor">
  <ul>
    BUSINESSES {%for business in businesses%}

    <li>
      <a class="dropdown-item" href="{%url 'show_business' business.biz_name%}">
        {{business.biz_name}}
      </a>
    </li>
    {%endfor%}
  </ul>
</div>
<div class="main-content">
  {%for post in posts%}
  <div class="card">
    <a
      name=""
      id=""
      class="btn btn-primary"
      href="{%url 'show_profile' post.user.username %}"
      role="button"
      >{{post.user}}</a
    >
    <img class="card-img-top" src="{{post.image.url}}" alt="" />
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <p class="card-text">{{post.user.profile.neighborhood}}</p>
    </div>
  </div>
  {%endfor%}
</div>
{%endblock%}
