{%extends 'base.html'%} {%block content%}
<div class="row">
  <div class="col-lg-3">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {%for business in businesses%}
        <li>
          <a class="dropdown-item" href="#"></a>
          {{business.biz_name}}
        </li>

        {%endfor%}
      </ul>
    </div>
    {%for hood in hoods%}
    <p>hood_name: {{hood.name}}</p>
    <p>hood_name: {{hood.health_contact}}</p>
    <p>hood_name: {{hood.police_contact}}</p>

    {%endfor%}
  </div>

  <div class="col-lg-6">
    {%for post in posts%}
    <div class="card">
      <a
        name=""
        id=""
        class="btn btn-primary"
        href="{%url 'show_profile' user.username%}"
        role="button"
        >{{post.user.username}}</a
      >
      <img class="card-img-top" src="{{post.image.url}}" alt="" />
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
    {%endfor%}
  </div>
  <div class="col-lg-3"></div>
</div>
{%endblock%}
