{%extends 'base.html'%} {%block content%}
<div class="row">
  <div class="col-lg-3"></div>

  <div class="col-lg-6 hood">
    {%for hood in neighborhoods %}
    <div class="card">
      <div class="card-hoods">
        <img
          class="card-img-top profimg"
          src="{{hood.hood_profile.url}}"
          alt=""
        />
        <div>
          <a name="" id="" class="btn btn-primary" href="" role="button"
            >{{hood.name}}</a
          >
          <p class="card-text">{{hood.location}}</p>
        </div>
      </div>
      {%if request.user.profile.neighborhood == hood%}
      <a
        name=""
        id=""
        class="btn myhood btn-primary"
        href="{%url 'each_hood' hood.id %}"
        role="button"
        >My Hood</a
      >
      {%else%}
      <p>Update Profile and choose neighborhood</p>
      {%endif%}
    </div>
    {%endfor%}
  </div>
  <div class="col-lg-3"></div>
</div>
{%endblock%}
