{%extends 'base.html'%}{%load bootstrap5%}{%block content%}
<div class="row">
  <div class="col-lg-8">
    <p>{{user}}</p>
  </div>
  <div class="col-lg-4">
    <div class="container">
      <p>{{user.username}}</p>
      <form method="post" enctype="multipart/form-data" novalidate>
        {%csrf_token%} {%bootstrap_form profileform %}
        <input
          type="submit"
          class="btn btn-success btn-lg allbtn submitprof"
          value="Post"
        />
      </form>
    </div>
  </div>
</div>

{%endblock%}
