{%extends 'base.html'%}{%block content%}
<div class="row">
  <div class="col-lg-3">
    <p>{{business.biz_name}}</p>
  </div>
  <div class="col-lg-6 profdetail">
    <img
      class="card-img-top profimg"
      src="{{business.business_image.url}}"
      alt="damn"
    />
    <div class="texty">
      <p>
        <span>Username:</span>
        {{business.biz_name}}
      </p>
      <p>
        <span>Owner:</span>
        {{business.owner}}
      </p>
      <p>
        <span>Description:</span>
        {{business.description}}
      </p>
      <p>
        <span>Email:</span>
        {{business.business_email}}
      </p>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
{%endblock%}
